.brands-section {
  padding: 90px 20px;
  text-align: center;
  background: #f9fafc;
}


.brands-section h2 {
  font-size: 32px;
  font-weight: 800;
  color: #1f1f1f;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 1px;
}


.brands-section h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background: linear-gradient(90deg, #ff6b00, #ffb347);
  border-radius: 10px;
}


.brands-subtitle {
  max-width: 700px;
  margin: 30px auto 0;
  font-size: 16px;
  color: #666;
  line-height: 1.7;
}


@media (max-width: 768px) {
  .brands-section h2 {
    font-size: 28px;
  }

  .brands-subtitle {
    font-size: 14px;
  }
}



.brands-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  
}


.brands-track {
  display: flex;
  width: calc(250px * 10);
  animation: scroll 25s linear infinite;
}


.brand-card {
  width: 250px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  margin: 0 10px;
  background: #fff;
}

.brand-card img {
  max-width: 180px;
  max-height: 80px;
  object-fit: contain;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 5));
  }
}


.brands-slider:hover .brands-track {
  animation-play-state: paused;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content ul {
    list-style-position: inside;
    padding-left: 0;
  }
}