/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(0, 99, 132, 0.95);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}


.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #e67e22;
}

.nav-links a.active {
  border-bottom: 2px solid #e67e22;
  color: #e67e22;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #2c3e50;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    transform: translateY(-120%);
    transition: transform 0.3s ease;
  }

  .nav-links.open {
    transform: translateY(0);
  }
} */



.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  background: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding-top: 80px; 
}



.logo h2 {
  margin: 0;
  font-size: 22px;
}

.logo h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}


.nav-links li a:hover {
  color: #f4ff1e;
}


.nav-links li a.active {
  color: #f4ff1e;
}


.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #f4ff1e;
  transition: 0.3s ease;
}

.nav-links li a:hover::after,
.nav-links li a.active::after {
  width: 100%;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #ffffff;
  border-radius: 3px;
  transition: 0.3s ease;
}



@media (max-width: 900px) {
  .nav-links {
    position: absolute;
    top: 80px;
    right: -100%;
    width: 250px;
    height: calc(100vh - 80px);
    background: #111827;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    gap: 25px;
    transition: right 0.4s ease;
  }

  .nav-links.open {
    right: 0;
  }

  .menu-toggle {
    display: flex;
  }
}
