.section {
  padding: 60px 20px;
  text-align: center;
  margin-top: 0px;
}
.section {
  padding: 80px 20px;
  text-align: center;
  background: #f9fafc;
}


.section h2 {
  font-size: 32px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  color: #1e1e1e;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 1px;
}


.section h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #ff6b00, #ffb347);
  border-radius: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 25px;
  margin-top: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 16px;
  color: #333;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
